.intro-bg{
    background: url('../images/intro.jpg') center;
    background-size: cover;
    height: 160px;
    transform: translateY(-40px);
    @include sm{
        height: 240px;
    }
    @include xl{
        height: 320px;
    }
}
.bg-liner{
    background: var(--liner-color);
}
.intro-hover:hover{
    i{
        @include text-liner(var(--liner-color));
    }
}